<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../assets/css/itshair-das.css">
	<link rel="stylesheet" href="../assets/css/itshair-sty.css">

	<title>It's Hair - USER</title>
</head>

<body>
	<header class="cabecalho"> IT'S HAIR </header>
	<hr>
	<main class="master principal">
		<div class="agenda conteudo">
			<ol>
				<!-- <li>{$ NOME} {$ SOBRENOME} - {$ TELEFONE} / {$ HORARIO}</li> -->
				<li>09:00 <b>(C e B)</b> - JHON DOE / 996469617 <br> <a href="#" id="deletar">DELETAR</a> / <a
						href="#abrirModal" id="">EDITAR</a>
					<hr>
				</li>
				<li>09:00 <b>(C e B)</b> - JHON DOE / 996469617 <br> <a href="#" id="deletar">DELETAR</a> / <a
						href="#abrirModal" id="">EDITAR</a>
					<hr>
				</li>
				<li>09:00 <b>(C e B)</b> - JHON DOE / 996469617 <br> <a href="#" id="deletar">DELETAR</a> / <a
						href="#abrirModal" id="">EDITAR</a>
					<hr>
				</li>
				<li>09:00 <b>(C e B)</b> - JHON DOE / 996469617 <br> <a href="#" id="deletar">DELETAR</a> / <a
						href="#abrirModal" id="">EDITAR</a>
					<hr>
				</li>
				<li>09:00 <b>(C e B)</b> - JHON DOE / 996469617 <br> <a href="#" id="deletar">DELETAR</a> / <a
						href="#abrirModal" id="">EDITAR</a>
					<hr>
				</li>
				<li>09:00 <b>(C e B)</b> - JHON DOE / 996469617 <br> <a href="#" id="deletar">DELETAR</a> / <a
						href="#abrirModal" id="">EDITAR</a>
					<hr>
				</li>
				<li>09:00 <b>(C e B)</b> - JHON DOE / 996469617 <br> <a href="#" id="deletar">DELETAR</a> / <a
						href="#abrirModal" id="">EDITAR</a>
					<hr>
				</li>
				<li>09:00 <b>(C e B)</b> - JHON DOE / 996469617 <br> <a href="#" id="deletar">DELETAR</a> / <a
						href="#abrirModal" id="">EDITAR</a>
					<hr>
				</li>
				<li>09:00 <b>(C e B)</b> - JHON DOE / 996469617 <br> <a href="#" id="deletar">DELETAR</a> / <a
						href="#abrirModal" id="">EDITAR</a>
					<hr>
				</li>
			</ol>
		</div>
		<div id="abrirModal" class="modal">
			<div>
				<a href="#fechar" title="Fechar" class="fechar"><b>X</b></a>
				<h1>JHON DOE - EDIT</h1>
				<form method="post" action="">
					<input type="text" placeholder="NOME" name="nome" value="JHON DOE" required="required"> <input
						type="text" placeholder="TELEFONE" name="telefone" value="996469617" required="required">
					<div class="opcoes">
						<select name="horarios">
							<option value="1">09:30</option>
							<option value="2">10:00</option>
							<option value="3">10:30</option>
							<option value="4">11:00</option>
							<option value="5">11:30</option>
						</select> <select name="dias">
							<option value="18-09">18/09</option>
							<option value="19-09">19/09</option>
							<option value="20-09">20/09</option>
							<option value="21-09">21/09</option>
							<option value="22-09">22/09</option>
						</select> <select name="cabelo_barba">
							<option value="cabelo">CABELO</option>
							<option value="barba">BARBA</option>
							<option value="cabelo_e_barba">CABELO E BARBA</option>
						</select>
					</div>

					<div class="button">
						<button type="submit">SALVAR</button>
					</div>
				</form>
			</div>
		</div>
	</main>

	<div class="week">
		<ul class="paginacao">
			<li><a class="active" href="#">SEG</a></li>
			<li><a href="#">TER</a></li>
			<li><a href="#">QUR</a></li>
			<li><a href="#">QUI</a></li>
			<li><a href="#">SEX</a></li>
			<li><a href="#">SAB</a></li>
		</ul>
	</div>
	<div class="container">
		<img src="../assets/img/add.png">
	</div>

</body>

</html>